h1 {
  /*margin: 5px;*/
  /*padding-top: 30px*/
}
h4 {
  margin: 10px;
  padding-top: 10px
}
.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  background-color: #eee;
}
.space {
  margin: 20px;
  padding-top: 2px;
}
#dangerNoKids,#warmKids,#winter,#coolKids,#desert,#hot {
  display: none;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
