h1 {
  color: red;
}
h4 {
  margin: 10px;
  padding-top: 10px
}
.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  /*background-color: 35% #f7f7ee;*/

}
.space {
  margin: 20px;
  padding-top: 2px;
}
#vacationWinner, #emailName, #emailSub {
    display: none;
}
#dangerNoKids,#warmKids,#winter,#coolKids,#desert,#hot {
  display: none;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    /*background: linear-gradient(to bottom right, red, #ffffcc); /* Standard syntax */*/
}
img {
  clear: both;
  float: center;
  margin: -200px;
  padding: -100px;
  margin-left: 400px;
  max-width: 300%;
  max-height: 400%;
  object-fit: contain;

}
.btn {
    background-color: #bfbfbf; /* Green */
    border: none;
    color: #b30000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
