h1 {
  /*margin: 5px;*/
  /*padding-top: 30px*/
}
h4 {
  margin: 10px;
  padding-top: 10px
}
.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  /*background-color: 35% #f7f7ee;*/
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
}
.space {
  margin: 20px;
  padding-top: 2px;
}
#dangerNoKids,#warmKids,#winter,#coolKids,#desert,#hot {
  display: none;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
img {
  clear: both;
  float: center;
  margin: -200px;
  padding: -100px;
  margin-left: 400px;
  max-width: 300%;
  max-height: 400%;
  object-fit: contain;
}
.margin-in {
  margin: -20px;
  padding: -10px;
}
body {
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
}
